<div class="container">
  <mat-card class="card">
    <h2 class="title">Sign Up</h2>
    <div class="error-message" *ngIf="registrationError">
      <mat-error>{{ registrationError }}</mat-error>
    </div>
    <form class="form" [formGroup] ="registrationForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" required/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required />
        <mat-error *ngIf="registrationForm.get('email')!.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="registrationForm.get('email')!.hasError('email')">Invalid email format</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-error *ngIf="registrationForm.get('password')!.hasError('minlength')">Password should be atleast 8 characters</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Bio</mat-label>
        <textarea matInput placeholder="Bio" formControlName="bio" required></textarea>
        <mat-error *ngIf="registrationForm.get('bio')!.hasError('minlength')">Bio should be atleast 10 characters</mat-error>
      </mat-form-field>

      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="submit-btn"
          [disabled]="registrationForm.invalid"
        >
          Register
        </button>
      </div>
    </form>
  </mat-card>
</div>
