<div class="container">
    <mat-card class="card">
      <h2 class="title">Sign Up</h2>
      <form class="form">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" name="name" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" name="email" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" name="password" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Bio</mat-label>
          <textarea matInput placeholder="Bio" name="bio" required></textarea>
        </mat-form-field>
  
        <div class="button-container">
            <button mat-raised-button color="primary" type="submit" class="submit-btn">
              Register
            </button>
        </div>
      </form>
    </mat-card>
  </div>