<div class="container">
  <mat-card class="card">
    <h2 class="title">Welcome</h2>
    <div class="profile-header">
      <h2 class="profile-name">{{profile.name}}</h2>
      <p class="profile-email">{{profile.email}}</p>
    </div>

    <div class="profile-image-container">
      <img
        class="profile-image"
        src="assets/profile.png"
        alt="Profile Picture"
      />
    </div>

    <div class="profile-bio">
      <p>{{profile.bio}}</p>
    </div>

    <div class="button-container">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="back-btn"
      >
        Back
      </button>
    </div>
  </mat-card>
</div>
